<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Practical</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ProductCatalogManagement">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Catalog
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Statistics">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Statistics 
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddProduct">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Product
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddPurchase">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Purchase
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddSuppliers">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Suppliers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddStore">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Store
            </NavLink>
        </div>
    </nav>
</div>